.container {
  border: 1px solid #95a0a7;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
  width: 500px;
  border-radius: 8px;
}

.container h1 {
  font-size: 35px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0.0025em;
  text-align: center;
  margin-top: 38px;
}

.input-container div input {
  display: block;
  height: 30px;
  width: 400px;
  font-size: x-large;
  padding: 5px;
}

.input-container div p {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.btn {
  height: 55px;
  width: 415px;
  border-radius: 5px;
  background-color: rgba(255, 153, 0, 0.3);
  border: 0;
  margin-top: 40px;
  font-size: 21px;
}

.btn:hover {
  background-color: rgba(255, 153, 0, 0.54);
}

.new-account {
  text-align: center;
  margin-top: 6px;
  font-size: 14px;
}

.new-account a {
  text-decoration: none;
  color: rgba(255, 153, 0, 1);
}

.hr {
  text-align: center;
  position: relative;
  margin-top: 20px;
}

.hr::before {
  content: "";
  width: 185px;
  height: 1px;
  position: absolute;
  background-color: rgba(149, 160, 167, 1);
  top: 50%;
  left: 0;
}

.hr::after {
  content: "";
  width: 185px;
  height: 1px;
  position: absolute;
  background-color: rgba(149, 160, 167, 1);
  top: 50%;
  right: 0;
}

.google {
  width: 415px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(149, 160, 167, 1);
  border-radius: 5px;
  padding: 5px 0;
  margin-bottom: 43px;
}

.google img {
  width: 32px;
  margin: 5px;
}

.google span {
  font-size: 17px;
}
